Ստեղծել jupyter notebook, որը կկարդա csv ֆայլը և կտպի

```
1. 5 ամենաթանկ laptop-ները f’{brand}։ {model}։ {price}’ այս ֆորմատով
2. 5 ամենամատչելի laptop-ները f’{brand} {model} {price}’ այս ֆորմատով
3. բոլոր օպերացիոն համակարգերը և իրենց մոդելների քանակը(օրինակ՝ windows: 456, macOS:46, Linux: 876...)
4. 5 ամենածանր laptop-ները f’{brand} {model} {weight}’ այս ֆորմատով
5. 5 ամենահզոր RAM ունեցող laptop-ները f’{brand} {model} {ram}’ այս ֆորմատով
բոլոր չափի RAM-երը և իրենց մոդելների քանակը(օրինակ՝ 4GB: 456, 8GB:46, 10GB: 876...)
բոլոր brand-երը և իրենց մոդելների քանակը(օրինակ՝ apple: 11, Dell:80...)
```

In [46]:
import pandas as pd

In [190]:
df = pd.read_csv('laptops.csv')

In [191]:
df.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [201]:
for i, l in df.iterrows():
    weight = l['Weight']
    w = weight.replace('kg', '')
    try:
        w = float(w)
    except ValueError:
        print(weight)
        print(i)

4kgs
1060

In [205]:
df.iloc[1060]

Manufacturer                                       Asus
Model Name                            Rog G752VL-GC088D
Category                                         Gaming
Screen Size                                       17.3"
Screen                      IPS Panel Full HD 1920x1080
CPU                         Intel Core i7 6700HQ 2.6GHz
RAM                                                16GB
Storage                                         1TB HDD
GPU                             Nvidia GeForce GTX 965M
Operating System                                  No OS
Operating System Version                            NaN
Weight                                             4kgs
Price (Euros)                                    998.00
Name: 1060, dtype: object

In [193]:
# replace ',' with '.' via for loop

for i, price in enumerate(df['Price (Euros)']):
    df['Price (Euros)'][i] = price.replace(',', '.')

In [117]:
# replace ',' with '.' via map

df['Price (Euros)'] = df['Price (Euros)'].map(lambda x: x.replace(',', '.'))

In [119]:
df['Price (Euros)'] = df['Price (Euros)'].astype(float)

In [187]:
expensive_laptops = df.sort_values(by='Price (Euros)', ascending=False).head(5)[['Manufacturer', 'Model Name', 'Price (Euros)']]

In [188]:
for index, laptop in expensive_laptops.iterrows():
    print('%s: %s: %s' % (laptop['Manufacturer'], laptop['Model Name'], laptop['Price (Euros)']))

Razer: Blade Pro: 6099.0
Razer: Blade Pro: 5499.0
Lenovo: Thinkpad P51: 4899.0
HP: Zbook 17: 4389.0
Asus: ROG G701VO: 3975.0

In [177]:
expensive_laptops

     Manufacturer    Model Name  Price (Euros)
196         Razer     Blade Pro         6099.0
830         Razer     Blade Pro         5499.0
610        Lenovo  Thinkpad P51         4899.0
749            HP      Zbook 17         4389.0
1065         Asus    ROG G701VO         3975.0

In [184]:
for i in range(5):
    print('%s: %s: %s' % (expensive_laptops.iloc[i, 0], expensive_laptops.iloc[i, 1], expensive_laptops.iloc[i, 2]))

Razer: Blade Pro: 6099.0
Razer: Blade Pro: 5499.0
Lenovo: Thinkpad P51: 4899.0
HP: Zbook 17: 4389.0
Asus: ROG G701VO: 3975.0

In [178]:
expensive_laptops = df.sort_values(by='Price (Euros)', ascending=False, ignore_index=True).head(5)[['Manufacturer', 'Model Name', 'Price (Euros)']]

In [179]:
for i in range(5):
    print('%s: %s: %s' % (expensive_laptops['Manufacturer'][i], expensive_laptops['Model Name'][i], expensive_laptops['Price (Euros)'][i]))

Razer: Blade Pro: 6099.0
Razer: Blade Pro: 5499.0
Lenovo: Thinkpad P51: 4899.0
HP: Zbook 17: 4389.0
Asus: ROG G701VO: 3975.0